!*/train/images/.gitkeep
!*/train/labels/.gitkeep
!*/valid/images/.gitkeep
!*/valid/labels/.gitkeep


*.pyc
train/
valid/
runs/
train/images/
train/labels/
valid/images/
valid/labels/
inference/
__pycache__
.ipynb_checkpoints

